/* Scrolling Styling */
.scroll-container  {
    height: 95vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    max-width: 100%;
}
.landing-scroll-item-contain, .scroll-item-contain {
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-align: start;
}
.scroll-item-contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title  {
    font-size: 95px;
    font-family: 'Druk';
    margin: 25vh 20px 0px 0px;
    line-height: 0.8em;
    letter-spacing: 2px;
    transition: transform 1.5s cubic-bezier(.075,.82,.165,1);
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 2px #FFF5EA;
    text-align: right;
    display: flex;
    float: right;
    position: relative;
    z-index: 4;
}
.landing-image  {
    height: 350px;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0.4;
    top: 25vh;
    position: relative;
    z-index: 0;
    width: 100%;
}
.experience-image  {
    width: 100px;
    animation: moveImage 3s infinite;
    margin-bottom: 1em;
}
.experience-contain  {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.experience-company  {
    font-family: 'Druk';
    text-transform: uppercase;
    font-size: 50px;
}
.experience-position, .experience-duration  {
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 12px;
}
.experience-slide  {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.experience-slide-contain  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.experience-slide-title  {
    text-transform: uppercase;
    font-family: 'Poppins';
    font-size: 12px;
    margin-bottom: 1em;
    font-weight: 500;
}
.experience-slide-card  {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.experience-slide-card:nth-child(1) {
    animation: 6s moveFirstCard infinite;
}
.experience-slide-card:nth-child(2) {
    animation: 6s moveSecondCard infinite;
}
.experience-slide-card:nth-child(3) {
    animation: 6s moveThirdCard infinite;
}
.experience-desc  {
    margin-bottom: 3em;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins';
}
.experience-highlight-contain  {
    display: flex;
    flex-direction: column;
}
.experience-main-title  {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 17px;
}
.slideshow-contain  {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.slide-icon  {
    font-size: 25px;
}
.next-icon  {
    margin-right: 20px;
    transition: transform 1.5s cubic-bezier(.075,.82,.165,1);
}
.next-icon:hover  {
    transform: translateX(5px);
    cursor: pointer;
    opacity: 0.7;
}
.ic3d, .aware, .bob-evans, .duodate  {
    background-color: #F26A20;
    padding: 0px 6px;
    border-radius: 5px;
}
.aware  {
    background-color: #9117E6;
}
.bob-evans  {
    background-color: #B42B35;
}
.duodate  {
    background-color: #E62345;
}

/* iframe Styling */
.iframe  {
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
.flip-list-title-header {
    font-family: 'Poppins' !important;
    color: #9117E6 !important;
}

/* Animations */
@keyframes moveImage {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
}
@keyframes moveFirstCard {
    20% {
        transform: translateY(-10px);
        opacity: 1;
    }
    40% {
        transform: translateY(0px);
        opacity: 0.7;
    }
}
@keyframes moveSecondCard {
    40% {
        transform: translateY(-10px);
        opacity: 1;
    }
    60% {
        transform: translateY(0px);
        opacity: 0.7;
    }
}
@keyframes moveThirdCard {
    60% {
        transform: translateY(-10px);
        opacity: 1;
    }
    80% {
        transform: translateY(0px);
        opacity: 0.7;
    }
}

/* Responsive Styling */
@media screen and (max-width: 1150px) {
    .next-icon  {
        margin: 0px 0px 0px 20px;
    }
    .scroll-item-contain  {
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    .slideshow-contain  {
        width: 90%;
        display: flex;
        height: 60%;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    #slideshow  {
        margin: 20px !important;
        width: 75% !important;
        height: 50% !important;
    }
    .experience-position, .experience-duration  {
        margin-top: 5px;
    }
    .experience-position  {
        padding-right: 20px;
    }
    .experience-desc  {
        margin-bottom: 1em;
        font-size: 12px;
    }
    .experience-main-title  {
        font-size: 13px;
    }   
    .experience-slide-card  {
        padding: 15px;
    }
}
@media screen and (max-width: 1100px) {
    .title  {
        font-size: 85px;
    }
}
@media screen and (max-width: 1050px) {
    .experience-image  {
        width: 55px;
    }
    #experience-slideshow  {
        width: 100% !important;
        height: 82% !important;
    }
}
@media screen and (max-width: 950px) {
    .title  {
        font-size: 75px;
    }
}
@media screen and (max-width: 850px) {
    .title  {
        font-size: 65px;
    }
    .experience-company  {
        font-size: 45px;
    }
}
@media screen and (max-width: 700px) {
    .title  {
        font-size: 50px;
    }
    .experience-slide-card  {
        padding: 0px 6px;
        display: inline-block;
        width: -moz-fit-content;
        width: fit-content;
        animation: none !important;
        border-radius: 5px;
    }
    .slide-icon  {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .experience-main-title  {
        font-size: 18px;
        margin-bottom: 1em;
    }
    .experience-desc  {
        margin-bottom: 0em;
        font-size: 14px;
    }
}
@media screen and (max-width: 550px) {
    .title  {
        font-size: 45px;
    }
}
@media screen and (max-width: 500px) {
    .title  {
        -webkit-text-stroke: 1px #FFF5EA;
    }
    .experience-company  {
        font-size: 32px;
    }
}