.landingContain {
  box-sizing: border-box;
  width: 50%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  margin: 0 auto;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.brandingContain,
.musicContain {
  opacity: 0;
}

.musicContain {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

/* Modal Styling */
.modal {
  position: absolute;
  top: 0;
  left: calc(15% / 2);
  align-self: center;
  margin: 0 auto;
  width: calc(100% - 15%);
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modalIconHeader {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  padding: 0 20px;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  padding: 20px 0px;
}

.modalContent {
  background-color: #000;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}

.modalForm {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.modalPasswordInput {
  width: 100%;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #000;
  color: #fff5ea;
  font-family: "MarketSans-Regular";
  outline: none;
  border: none;
  box-shadow: none;
}

.modalButton {
  padding: 10px 5px;
  border-radius: 5px;
  border: 0;
  background-color: #000;
  color: #fff5ea;
  font-family: "MarketSans-Medium";
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modalButton:hover {
  cursor: pointer;
  opacity: 0.7;
}

.modalArticlesItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 12px;
}

.modalArticlesItem select {
  background-color: transparent;
  color: #fff5ea;
  border: 1px solid #fff5ea;
  border-radius: 5px;
  padding: 2px 4px;
  font-family: "MarketSans-Regular";
  font-size: 12px;
  outline: none;
  box-shadow: none;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modalArticlesItem select:hover {
  cursor: pointer;
  opacity: 0.7;
}

.modalAddArticleForm {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.modalAddArticleInput {
  width: 100%;
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 12px;
  background-color: #000;
  color: #fff5ea;
  font-family: "MarketSans-Regular";
  outline: none;
  border: 1px solid #fff5ea;
  box-shadow: none;
}

.modalAddArticleButton {
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid #fff5ea;
  background-color: #000;
  color: #fff5ea;
  font-family: "MarketSans-Medium";
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modalAddArticleButton:hover {
  cursor: pointer;
  opacity: 0.7;
}

.close {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.close:hover {
  color: #fff5ea;
}

@media (max-width: 1000px) {
  .landingContain,
  .modal {
    width: 65%;
  }
  .modal {
    left: calc(35% / 2);
  }
}
@media (max-width: 850px) {
  .landingContain,
  .modal {
    width: 85%;
  }
  .modal {
    left: calc(15% / 2);
  }
}
@media (max-width: 550px) {
  .landingContain,
  .modal {
    width: 100%;
  }
  .modal {
    left: 0;
  }
  .recentlyPlayedItemCompany,
  .recentlyPlayedItemCompanyNonPresent,
  .intro,
  .projectsItemTitle {
    font-size: 15px !important;
  }
}

/* Branding Styling */
.brandingContain {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin: 3vh 0;
}
.brandingHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  width: 100%;
}
.name {
  text-decoration: none;
  color: #fff5ea;
  font-size: 16px;
  letter-spacing: -0.03em;
  font-family: "MarketSans-Bold";
  user-select: none;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.name:hover {
  opacity: 0.7 !important;
  cursor: pointer !important;
}
.intro {
  font-family: "MarketSans-Regular";
  text-decoration: none;
  color: #807b75;
  font-size: 12px;
  user-select: none;
}
.menuContain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.menu {
  font-family: "MarketSans-Medium";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff5ea;
  font-size: 14px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  letter-spacing: -0.03em;
  user-select: none;
  opacity: 1 !important;
}
.menuItem {
  font-family: "MarketSans-Medium";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff5ea;
  font-size: 14px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
  display: none;
}
.menu:hover,
.menuItem:hover {
  opacity: 0.7 !important;
  cursor: pointer !important;
}
.menu:active,
.menuItem:active {
  color: var(--main-color);
}
.sectionTitle {
  text-decoration: none;
  color: #fff5ea;
  opacity: 0.5;
  font-size: 16px;
  font-family: "MarketSans-Bold";
  user-select: none;
  margin-bottom: 2em;
}
.sectionSubtitle {
  text-decoration: none;
  color: #fff5ea;
  opacity: 0.5;
  font-size: 12px;
  font-family: "MarketSans-Regular";
  user-select: none;
}
.sectionTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  width: 100%;
}
.sectionTitleContainer .sectionTitle {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .articlesItems {
    grid-template-columns: 1fr;
  }
  .articlesItemCompany {
    font-size: 15px;
  }
  .currentlyPlayingContainer {
    width: 50%;
  }
}

/* Articles Section */
.articlesContain {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 3vh;
}
.articlesGrid {
  display: grid;
  width: 100%;
  gap: 20px;
}

.articlesItem {
  flex: 0 0 auto;
  /* width: 140px; */
}

.articlesItem:last-child {
  margin-right: 0;
}

/* Adjust width on mobile */
@media (max-width: 768px) {
  .articlesItem {
    width: 160px;
  }
}

.articleItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
}

.articlesLogo {
  border-radius: 7.5px;
  object-fit: cover;
}

.articlesItemContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  min-height: 0;
  max-height: 120px;
}

.articleTitle {
  font-family: "MarketSans-Medium";
  color: #fff5ea;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleTitleContain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.articleHasNotRead {
  font-family: "MarketSans-Regular";
  background-color: #807b75;
  color: #000;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 2px 5px;
  border-radius: 4px;
  white-space: nowrap;
  flex-shrink: 0;
}

.articleHasRead {
  font-family: "MarketSans-Regular";
  background-color: var(--main-color);
  color: #fff5ea;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 2px 5px;
  border-radius: 4px;
  white-space: nowrap;
  flex-shrink: 0;
}

.articleDescription,
.articlesPlaceholder {
  font-family: "MarketSans-Regular";
  color: #807b75;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.articleDescription {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  -webkit-line-clamp: 5;
  line-clamp: 5;
}

.articleHoverTopLeft {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  border-top: 0.3rem solid transparent;
  border-bottom: 0.3rem solid transparent;
  border-right: 0.3rem solid var(--main-color);
  transform-origin: left center;
  transform: translateY(-0.3rem) scale(0);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.articleItem:hover .articleHoverTopLeft {
  transform: translateY(-0.3rem) scale(1);
}
.articleHoverBottomRight {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 0px;
  height: 0px;
  border-left: 0.3rem solid transparent;
  border-right: 0.3rem solid transparent;
  border-top: 0.3rem solid var(--main-color);
  transform-origin: center bottom;
  transform: translateX(0.3rem) scale(0);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.articleItem:hover .articleHoverBottomRight {
  transform: translateX(0.3rem) scale(1);
}
.articleHoverLeft {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background: var(--main-color);
  transform-origin: 0px 100%;
  width: 0.3rem;
  transform: scaleX(0);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.articleItem:hover .articleHoverLeft {
  transform: scaleX(1);
}
.articleHoverBottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: var(--main-color);
  transform-origin: 0px 100%;
  height: 0.3rem;
  transform: scaleY(0);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.articleItem:hover .articleHoverBottom {
  transform: scaleY(1);
}
.articleContentContain {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 5px;
  gap: 20px;
}
.articleItem:hover .articleContentContain {
  transform: translate3d(0.3rem, -0.3rem, 0px);
}
