.scheduleContain {
  box-sizing: border-box;
  width: 50%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  margin: 0 auto;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.brandingContain {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.brandingHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  width: 100%;
}
.name {
  text-decoration: none;
  color: #fff5ea;
  font-size: 16px;
  letter-spacing: -0.03em;
  font-family: "MarketSans-Bold";
  user-select: none;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.name:hover {
  opacity: 0.7 !important;
  cursor: pointer !important;
}
.intro {
  font-family: "MarketSans-Regular";
  text-decoration: none;
  color: #807b75;
  font-size: 12px;
  user-select: none;
}

@media (max-width: 1000px) {
  .scheduleContain {
    width: 65%;
  }
}
@media (max-width: 850px) {
  .scheduleContain {
    width: 85%;
  }
}
@media (max-width: 550px) {
  .scheduleContain {
    width: 100%;
  }
}
