:root {
  --background: #121212;
  --foreground: #e5e5e0;
  --main-color: #b931ff;
}

html {
  background-color: var(--background);
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

html,
body {
  font-family: "MarketSans-Medium";
  font-size: 14px;
  color: var(--foreground);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
  transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
::-webkit-scrollbar-track {
  background: #3b3b3b;
}
::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

@font-face {
  font-family: "MarketSans-Bold";
  src: url(/fonts/MarketSans-Bold.otf) format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "MarketSans-Light";
  src: url(/fonts/MarketSans-Light.otf) format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "MarketSans-Medium";
  src: url(/fonts/MarketSans-Medium.otf) format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "MarketSans-Regular";
  src: url(/fonts/MarketSans-Regular.otf) format("opentype");
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
