/* Scrolling Styling */
.scroll-container  {
    height: 95vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.project-image  {
    width: 70px;
    animation: moveImage 3s infinite;
    margin-bottom: 0.5em;
}
.experience-company  {
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 50px;
}
.experience-position, .experience-duration  {
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 12px;
}
.project-slide  {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.experience-slide-contain  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.experience-slide-title  {
    text-transform: uppercase;
    font-family: 'Poppins';
    font-size: 12px;
    margin-bottom: 1em;
    font-weight: 500;
}
.project-slide-title  {
    text-transform: uppercase;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
}
.project-desc  {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Poppins';
    width: 70%;
    line-height: 1.4;
}
.experience-main-title  {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 17px;
}
.slide-icon  {
    font-size: 25px;
}
.chives, .eventify, .brutus, .sift, .kavi, .honeycomb  {
    background-color: #565C36;
    padding: 0px 6px;
    border-radius: 5px;
}
.eventify, .brutus  {
    background-color: #BA0F2F;
}
.sift  {
    background-color: #1D2C2C;
}
.kavi  {
    background-color: #5A96A6;
}
.honeycomb  {
    background-color: #141115;
}

/* iframe Styling */
.iframe-project  {
    border: none;
    width: 100%;
    height: 65%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

/* Animations */
@keyframes moveImage {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Responsive Styling */
@media screen and (max-width: 1150px) {
    .project-desc  {
        width: 100%;
    }
}@media screen and (max-width: 850px) {
    .project-desc  {
        font-size: 22px;
    }
    .project-image  {
        width: 60px;
    }
}
@media screen and (max-width: 500px) {
    .project-image  {
        width: 55px;
    }
}
@media screen and (max-width: 450px) {
    .project-desc  {
        font-size: 16px;
    }
}